@import '../../../styles/vars';

div {
  box-sizing: border-box;
  width: 5px;
  height: 5px;
  border: 1px solid $gray;
  margin: 2px;
  color: black;
  font-size: 5px;

  &.filled {
    background: $gray;
    color: white;
  }

  &.day {
    width: 3px;
    height: 3px;
    margin: .5px;
  }

  &.week {
    width: 6px;
    height: 6px;
    margin: 1px;
  }

  &.month {
    width: 15px;
    height: 15px;
    margin: 3px;
  }
}
